
@{
    ViewData["Title"] = "Page2";
}
@model Attempt2.Models.InfoModel;
    <body>
        <h1 class="text-white">Creating a Schedule</h1>
        <style>
            body {
               background-color: gray;

            }
            label {
                text-align: center;
                color: white;
            }

            form {
                padding-left: 40%;
                padding-top: 5%;
            }

            button {
               
                border: none;
                position:absolute;
                left: 47%;
            }

            

            h1 {
                text-align: center;
                background-color: firebrick;
                padding-bottom: 0%;
            }

            h2 {
                padding-top: 25px;
                text-align: center;
            }

            h3 {
                text-align: center;
                
            }

        </style>
        <h2>Enter Information</h2>
        <form asp-action="Page3" method="post">
            <input asp-for="FirstName" /> <label>First Name</label> <p> </p>
            <input asp-for="Email" /> <label>Email</label> <p> </p>
            <input asp-for="Desrcription" /> <label>Description</label> <p> </p>
            <br />
            <br />

            <h3>Enter a Unique Code to Access Your Schedule</h3>
            <br />

            <label>Unique Code</label> <input asp-for="UniqueCode" /><p> </p>

            <input id="Submit1" type="submit" value="Submit" />

        </form>
    </body>

