
@{
    ViewData["Title"] = "Page4";
}
@model Attempt2.Models.InfoModel

<body>
    <h1>Page4</h1>
    <br />
    <h1>@Model.Day</h1>
    <br />
    <h1>@Model.FirstName</h1>
    <br />
    <h1>@Model.Email</h1>
    
    <div>
       
    </div>
</body>


